* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}
.header {
  text-align: center;
  padding: 32px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.column {
  max-width: 25%;
  flex: 25%;
  padding: 0 4px;
}
@media (max-width: 800px) {.column{flex:50%;
  max-width:50%;}
  
}
@media (max-width: 600px) {.column{flex:100%;
  max-width:100%;}
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
}